modules = ["nodejs-20", "python-3.12", "web"]
run = "cd backend && node app.js"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "cd backend && npm install"]
deploymentTarget = "static"
publicDir = "frontend"

[workflows]
runButton = "Run Frontend"

[[workflows.workflow]]
name = "Run"
author = 40712558
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git pull"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[[ports]]
localPort = 4000
externalPort = 80
